*.BiocCheck/
.Rproj.user
.Rhistory
.RData
.Ruserdata
/doc/
/Meta/
docs
.DS_Store
looplook.Rproj
*.Rproj
*.Rcheck/
*.tar.gz
looplook_results/
tests/testthat/Rplots.pdf
Rplots.pdf
.Rproj.user/
Meta/
pkgdown/
tests/testthat/_snaps/
tests/testthat/_problems/
tests/testthat/testthat-problems.rds
coverage-report.html
README.html
vignettes/*.html
figure/
lib/
